.desktop {
    display: none;
}
.mobile{
    display: flex;
    max-width: 90%;
    margin-inline: auto;
    padding-bottom: 15px;
}
.container{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.container > *:not(.back) {
    padding: 10px;

    background-color: var(--Marineblue);
    color: var(--Alabaster);
    border-radius: 5px;
    border: 1px solid var(--Marineblue);
    cursor: pointer;
}

.back{
    padding: 10px;

    background-color: transparent;
    color: var(--Coolgray);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.back:hover{
    border-color: var(--Coolgray);
}
.left{
    margin-left: auto;
}

/* need to add the mobile layout and absolute container postioned in the bottom*/

@media screen and (min-width:700px) {
    .desktop{
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 0px;
        padding-inline: 75px;
    }
    .mobile{
        display: none;
    }
}